<html>
  <head>
    <meta charset="utf-8">
    <link href="pvpc.css"  rel="stylesheet">
    <title>Invoice</title>
    <meta name="description" content="Simulación factura PVPC">
    <style>
    
    </style>
  </head>

  <body>
    <h1>kwhmeter: Simulador factura PVPC</h1>

    <aside>
      <address id="from" class="address">

      </address>

      <address id="to">

      </address>
    </aside>
    <dl id="suministro" class="cabecera_direccion">
      <dt>Suministro:</dt>
      <dt>CUPS: {{suministro.CUPS}}</dt>
      <dt>TITULAR: {{suministro.TITULAR}}</dt>
      <dt>DIRECCION: {{suministro.DIRECCION}}</dt>      
    </dl>
    <dl id="potencias" class="cabecera_potencias">
      <dt>Potencias:</dt>
      <dt>P1: {{potencias_contratadas.P1}}</dt>
      <dt>P2: {{potencias_contratadas.P2}}</dt>      
    </dl>    
    <dl id="fechas">
      <dt>Fechas:</dt>
      <dt>Desde el: {{periodo.desde}}</dt>
      <dt>Hasta el: {{periodo.hasta}}</dt>
    </dl>
    <h1>IMPORTE: {{factura["TOTAL IMPORTE FACTURA"] }} €</h1>
    <hr>
    <table>
      <tbody>
      {% for k,item in factura.items() %}
        <tr>
          <td class="level0" colspan="4">{{k}}</td><td class="level0">{{ item.Subtotal }}</td>
          {% if item is mapping  %}
          {% for kk,subitem in item.items()  %}  
          {% if kk!="Subtotal" %}
              <tr class="{{kk}}">
                <td></td><td class="level1" colspan="3">{{kk}} </td><td class="level1">{{ subitem.Subtotal }}</td>
                {% if subitem is mapping  %}
                {% for kkk,subsubitem in subitem.items()  %}
                {% if kkk!="Subtotal" %}                 
                <tr>
                  <td></td><td></td><td class="level2" colspan="2">{{kkk}}</td><td class="level2">{{ subsubitem.Subtotal }}</td>
                  {% if subsubitem is mapping  %}                  
                  {% for kkkk,subsubsubitem in subsubitem.items()  %}  
                  {% if kkkk!="Subtotal" %}
                    <tr>
                      <td></td><td></td><td></td><td class="level3" colspan="1">{{kkkk}}</td><td class="level3"> {{subsubsubitem}}</td>
                    </tr>  
                  {% endif %}               
                  {% endfor %}               
                  {% else %} 
                  <td class="level2" >{{subsubitem}}</td>
                  {% endif %}                   
                </tr>
                {% endif %}
                {% endfor %}               
                {% else %}
                <td class="level1" >{{subitem}}</td>
                {% endif %}      
              </tr>
          {% endif %}
          {% endfor %}               
          {% else %}
          <td class="level0" >{{item}}</td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>

  </body>
</html>